.menu {
  position: fixed;
  top: 53px;
  width: 48px;
  height: calc(100vh - 54px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--bg-color-main);
  z-index: 99;
  transition: right var(--animation-time) ease-in;
  gap: 1rem;
  padding-top: .5rem;

  &.closed {
    right: -48px;
  }

  &.open {
    right: 0px;
  }
}